h1 {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

h2,
h3 {
  color: black;
  opacity: 80%;
}

.jumbotron {
  background-color: #ed6a5a;
}

.card-header {
  background-color: #f4f1bb;
  min-height: 80px;
}
